.menu-title, .cocktail-name, .subheading {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
}

.cocktail-image img {
    max-width: 300px; /* Maximum width, adjust as needed */
    max-height: 300px; /* Maximum height, adjust as needed */
    width: 100%; /* Scales down responsively */
    height: auto; /* Maintains aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image */
}

h2.liquor-heading, h2.cocktail-name, h2.liquor-name { !important;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em; /* Adjust size as needed */
    text-align: center;
    margin-bottom: 20px; /* Add some space below the title */
    font-weight: bold;
}

text.text-small-bubble{
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em; /* Adjust size as needed */
    text-align: center;
    margin-bottom: 20px; /* Add some space below the title */
}
.subheading {
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5em; /* Slightly smaller than the cocktail name */
    text-align: center;
}

.ingredient-icon {
    font-family: 'Amatic SC', sans-serif;
    height: auto;
    width: 100%; /* Adjust as needed */
}


.centered-text {
    font-family: 'Amatic SC', sans-serif;

    text-align: center;
}

.ingredients p {
    margin-bottom: 5px; /* Adjust spacing as needed */
}

.ingredient-icon {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin: 10px;
    cursor: pointer; /* Changes the cursor to indicate it's interactive */
    /* Add any other styling as needed */
}


.menu-page {
    /*border: 2px solid #cda34f; !* Gold-like border for a classic menu look *!*/
    /*padding: 20px;*/
    /*background-color: #fdf6e3; !* Light background color *!*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    background-image: url('../img/frame5.png');
    background-size: 100% 100%; /* Stretch the image to fill the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;

}

.menu-title, .cocktail-name {
    text-align: center;
    font-family: 'Playfair Display', serif; /* Example font */
}

.cocktail-image img {
    width: 100%; /* Adjust as necessary */
    height: auto;
    display: block;
    margin: 0 auto;
}

.ingredients .ingredient {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*.icon {*/
/*    width: 24px; !* Icon size *!*/
/*    height: auto;*/
/*    margin-right: 10px;*/
/*}*/


#liquor-tt {
    height: 55vh;
    width: 40vh;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/frame7.png");
    background-size: 100% 100%; /* Stretch the image to fill the container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;
}

.treemap-tooltip {
    height: 55vh;
    width: 40vh;
    position: absolute;
    background-color: transparent;
    background-image: url("../img/frame7.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Prevents the tooltip from interfering with mouse events */
    transition: opacity 0.3s; /* Smooth transition for appearing and disappearing */
}

.liquor-info, .liquor-fun, .cocktail-instructions, .cocktail-ingredients {
    font-family: 'Josefin Slab', serif;
    font-size: 1em; /* Slightly smaller than the cocktail name */
    text-align: center;
}

/*.text-bubble{*/
/*    font-weight: bold;*/
/*}*/





#resetViewButton{
    background-color: #89b9d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background: #e8e2c9;
    /*border: 1px solid black;*/
    border-radius: 2px;
    pointer-events: none;  /* Don't block mouse events */
    font-size: 10px;
}

.section {
    background-size: cover;
    background-attachment: scroll; /* or scroll, depending on desired effect */
    background-repeat: no-repeat;
    background-position: center center;
}

#section1 {
    background-image: url('../img/gpt3.png');
    /*background: rgba(0, 0, 0, 0.5);*/
    /* ... other background styles ... */
}

/*#section2 {*/
/*    background-image: url('path/to/image2.jpg');*/
/*    !* ... other background styles ... *!*/
/*}*/

/*#section3 {*/
/*    background-image: url('path/to/image3.jpg');*/
/*    !* ... other background styles ... *!*/
/*}*/

h1 {
    color: rgba(227, 220, 209, 0.92);
    font-size: 50px;
    padding: 10px;
    font-weight: bold;

}


#treemapDiv {
    position: relative;
}

#treemapDiv svg {
    position: absolute;
    top: 0;
    left: 0;
}

#treemapDiv svg:nth-of-type(2) { /* targeting svg2 */
    z-index: 2;
    pointer-events: none;  /* Allow click events to pass through */
}

#treemapDiv svg:nth-of-type(1) { /* targeting svg1 */
    z-index: 1;
}

#treemapDiv .hover-image:nth-of-type(1) {
    pointer-events: none;
}


#bubbles .bubble-chart-text{
    pointer-events: none;
}

#bubbles .text-small-bubble {
    pointer-events: none;
}

#liquor-tt {
    pointer-events: none;
}


#networkDiv {
    width: 80vw;
    height: 70vh;
    font-family: 'Amatic SC', sans-serif;
}


body {
    background-color: #faeeef;  /* A very light pink as a fallback color */
    background-image: linear-gradient(0deg, #fff3f4 0%, #fffbf4 100%); /* Gentle gradient from very light pink to a soft peach */
}

.bubble-title{
    padding: 20px;
    color: rgba(217, 203, 181, 0.92);
    font-size: 50px;
    font-weight: bold;
}


h2 {
    color: #2b2f32;
    text-align: center;
    font-size: 20px;
    padding: 10px;

}

.dashed-table tr {
    border: 1px dashed #000;
}

.dashed-table th, .dashed-table td {
    border: 1px dashed #000;
    padding: 8px;
    text-align: left;
}

#info h2, #info table {
    background-color: #f0f0f0; /* Your desired background color */
    padding: 10px; /* Adjust padding as needed */
    margin-bottom: 10px; /* Space between elements */
}

#info table {
    width: 100%; /* Adjust the width as needed */
}

.liquorImages {
    display: block; /* Elements are inline by default. 'block' makes it possible to center them */
    margin-left: auto;
    margin-right: auto;
}

.large-bubbles:hover {
    cursor: pointer;
    stroke: darkgray;
    stroke-width: 1px;
}

/*section1-transpage*/
#section1-transpage h1 {
    text-align: center;
    font-family: 'Young Serif', serif;
    font-size: 8vh;
    font-weight: bold;
    background-image: linear-gradient(to right, #b8ee60, #74d77c, #6fef8a, #42b770);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/*section-allcocktails*/
#section-allcocktails h1 {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 4vh;
    background-image: linear-gradient(to right, #c3da6e, #da76bb, #9ad352, #a2636f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#section-allcocktails span {
    color: #08726d;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;
}

#categorySelector, .legend-label{
    color: #08726d;
    font-family: 'Indie Flower', sans-serif;
}

#colorSelector {
    color: #08726d;
    font-family: 'Amatic SC', sans-serif;
}


/*section-popular-transpage*/
#section-popular-transpage h1, #section1-transpage h2, #section-treemap-transpage h1, #network-page h1 {
    color: #6b5a40;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 66px;
    font-weight: bold;
}

#section-popular-transpage h2, #section-treemap-transpage h2 {
    color: #6b5a40;
    text-align: center;
    font-family: 'Indie Flower', sans-serif;
    font-size: 35px;
}


/* Global Styles */
body, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Section Heading Styles */
/*.section-heading {*/
/*    text-align: center;*/
/*    font-size: 2rem;*/
/*    padding: 2rem 0;*/
/*}*/

@keyframes oscillate {
    0%, 100% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

#section1 h1 {
    color: rgb(107, 90, 64);
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 66px;
    font-weight: bold;
    animation: oscillate 2s ease-in-out infinite;
    /*background-color: rgba(128, 128, 128, 0.6); !* Grey background with opacity *!*/
    /*padding: 5px 10px; !* Reduced padding *!*/
    /*display: inline-block; !* Makes the background wrap the text *!*/
}



/* Team Section Styles */
#our-team-page h1 {
    color: #08726d;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 66px;
    font-weight: bold;
}

/*.our-team {*/
/*    background: #F8F5F0;*/
/*    padding-bottom: 2rem;*/
/*}*/

.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    gap: 2rem;
    justify-content: center;
    padding: 0 2rem;
}

.team-member {
    text-align: center;
    padding: 1rem;
}

.team-member img {
    width: 50%;
    height: auto;
    border-radius: 90%;
}

.team-member h3 {
    margin-top: 1rem;
}

.team-member p {
    font-size: 0.9rem;
    color: #666;
}


#treemapDiv .tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#treemapDiv .detail-group {
    font-family: 'Amatic SC', sans-serif;
    fill: #4b5454;
}

#treemapDiv .treemap_rect {
    font-family: 'Amatic SC', sans-serif;
    fill: #d5f6f6;
}

#treemap-page h1 {
    color: #7c240a;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 46px;
}

#treemap-page em {
    color: #790406;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 18px;
}

#final-page h1 {
    color: #790406;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 46px;
}

#final-page em {
    color: #790406;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 22px;
}

#mixology-page h1 {
    color: rgb(107, 90, 64);
    font-family: 'Amatic SC', sans-serif;
}

.bubble.non-selectable {
    fill: #d3d3d3; /* Gray out non-selectable bubbles */
    pointer-events: none; /* Disable pointer events */
    transition: fill 1000ms;
}

.bubble.selectable {
    /* Style for selectable bubbles, if needed */
}

.bubble.selected {
    stroke-width: 3px; /* Stroke width for selected bubbles */
}

#mixology-page .label{
    pointer-events: none;
}