#resetViewButton{
    background-color: #89b9d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    background: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;  /* Don't block mouse events */
    font-size: 12px;
}

.section {
    background-size: cover;
    background-attachment: scroll; /* or scroll, depending on desired effect */
    background-repeat: no-repeat;
    background-position: center center;
}

#section1 {
    background-image: url('../img/clem-onojeghuo-zlABb6Gke24-unsplash.jpg');
    /*background: rgba(0, 0, 0, 0.5);*/
    /* ... other background styles ... */
}

/*#section2 {*/
/*    background-image: url('path/to/image2.jpg');*/
/*    !* ... other background styles ... *!*/
/*}*/

/*#section3 {*/
/*    background-image: url('path/to/image3.jpg');*/
/*    !* ... other background styles ... *!*/
/*}*/

h1 {
    color: rgba(183, 161, 124, 0.92);
    font-size: 50px;
    padding: 10px;
    font-weight: bold;

}

#networkDiv {
    width: 80vw;
    height: 70vh;
}